body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Inter", sans-serif;
    background-color: black;
}

#container{
    /* background-color: steelblue; */
    background-color: #1F2937;
    width: 550px;
    height: 680px;
    border-radius: 5px;
}


#upper-container{
    border-radius: 5px;
    background-color: #6943FF;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#upper-heading{
    font-weight: 800;
    font-size: 28px;
    color: #FFFFFF;
}


#upper-input{
    width: 120px;
    height: 85px;
    background-color: #6943FF;
    border: 2px solid #B295FF;
    border-radius: 5px;
    font-weight: 800;
    font-size: 58px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 20px;
    font-family: "Inter", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input:focus, button:focus{
    outline: none;
}

#convert-btn{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #3D3D3D;
    padding: 6px 20px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
}

#lower-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 10px; */
}


#len-meter-feet, #vol-lit-gal, #mass-kg-p{
    background-color: #273549;
    width: 500px;
    margin: 20px 0px 0 0;
    padding: 10px 0;
    border-radius: 4px;
}

.heading{
    font-weight: 600;
    font-size: 20px;
    color: #CCC1FF;
}

.conversion{
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    padding: 0 0 2px 0;
    min-height: 18px;
}